.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    text-align: center;
  }
  
  /* Form Group Styling */
  .form-group {
    margin-bottom: 15px;
  }
  
  /* Label Styling */
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  /* Input Styling */
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  /* Button Styling */
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .btn[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  /* Button Hover Effect */
  .btn:hover:enabled {
    background-color: #0056b3;
  }
  
  /* Error Message Styling */
  .error-message {
    color: red;
    margin-top: 5px;
    font-size: 14px;
    text-align: left;
  }
  input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    transition: box-shadow 0.3s ease-in-out;
  }

  small{
    color: red;
  }