<div class="login-container">
    <form [formGroup]="adminloginForm" (ngSubmit) = "loginUser()" >
      <h2>Admin Login</h2>
      
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" class="form-control">
        
      </div>
  
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" class="form-control">
        
      </div>
  
      <button type="submit"  class="btn btn-primary"  >Login</button>
      
    </form>
  </div>